<div>
  <h1 class="text-4xl">Edit Item</h1>
  <%= turbo_frame_tag @item do %>
    <%= form_with model: [@grocery_list, @item] do |form| %>
      <div>
        <%= form.text_field :name,
            value: @item.name.titleize,
            class: " w-full rounded text-lg border px-3 py-2" %>
        <% if @item.errors[:name].any? %>
          <div class="text-red-600">
            <% @item.errors[:name].each do |message| %>
              <p><%= message %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="mt-2 py-1 px-2 inline-flex border-2 border-red-600 rounded cursor-pointer hover:bg-red-600 hover:text-white">
    <%= button_to "Delete", grocery_list_item_url(@grocery_list, @item), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>